:root {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 16px;
    --azul-clarinho: #85CDF5; 
    --cor-dos-links: #333333;
    --cor-dos-textos: #FFFFFF;
}    

/*Formatações gerais*/
body {
    width: 100%;
    
}

/*tirando formatação padrão dos links do site*/
a {
    text-decoration: none;
    color: var(--cor-dos-links);
    z-index: 2;
}

/*Formatação geral das imagens*/
figure {
    position: relative;
  }
   
  figure:before,
  figure:after {
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }
   
  img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }


  /***
 *    ----    ---- ------------    ------    ----------   ------------ -----------  
 *    ****    **** ************   ********   ************ ************ ***********  
 *    ----    ---- ----          ----------  --        -- ----         ----    ---  
 *    ************ ************ ****    **** **        ** ************ *********    
 *    ------------ ------------ ------------ --        -- ------------ ---------    
 *    ****    **** ****         ************ **        ** ****         ****  ****   
 *    ----    ---- ------------ ----    ---- ------------ ------------ ----   ----  
 *    ****    **** ************ ****    **** **********   ************ ****    **** 
 *                                                                                  
 */

 /*FORMATAÇÃO DO HEADER*/
header{
    background-color: var(--azul-clarinho);
    height: fit-content;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
 }

 /*Formatação da navegação do header*/
 .navHeader{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*Formatação dos links do header*/
.large .navHeader a{
    font-size: 1.2rem;
    font-weight: bold;
}

.navHeader a:last-child::after {
    display: block;
    content: "";
    height: 2px;
    width: 0px;
    background-color: var(--cor-dos-links);
    float: right;
}

.navHeader a:last-child:hover::after {
    width: 100%;
    transition: width 1s ease;
}

.navHeader a:first-child::after {
    display: block;
    content: "";
    height: 2px;
    width: 0px;
    background-color: var(--cor-dos-links);
    float: left;
}

.navHeader a:first-child:hover::after {
    width: 100%;
    transition: width 1s ease;
}

/*Formatação do header em sua forma pequena de scroll*/
.small .navHeader a {
    font-size: 1rem;
    font-weight: 500;
}

.small .navHeader img {
    width: 50px;
}
 /***
 *      ********      ------    --------  ----    ---- 
 *     ----------    ********   ********  *****   **** 
 *    ************  ----------    ----    ------  ---- 
 *    ---  --  --- ****    ****   ****    ************ 
 *    ***  **  *** ------------   ----    ------------ 
 *    ---  --  --- ************   ****    ****  ****** 
 *    ***  **  *** ----    ---- --------  ----   ----- 
 *    ---      --- ****    **** ********  ****    **** 
 *                                                     
 */

section {
    margin: auto;
}

.containerGeral {
    width: 70%;
    margin: auto;
    margin-top: 150px;
}

/*Formatação da caixa de pesquisa*/
.containerGeral form {
    display: flex;
    align-items: center;
    width: 60%;
    max-width: 1000px;
    margin: auto;
    justify-content: center;
    padding: 30px 0 30px 0;
}

.containerGeral form input:first-of-type {
    width: 70%;
    height: 30px;
}

.containerGeral form input:nth-of-type(2) {
    height: 36px;
    margin-left: 15px;
    padding: 0 15px 0 15px;
    background-color: #DEB959;
    color: var(--cor-dos-textos);
    border: 0;
}

/*Formatação da div dos lobos*/
.lobos {
    display: block;
    padding-bottom: 40px;
}

.lobos img {
    width: 40%;
}
.lobos figure {
    width: 100%;
    display: flex;
    padding: 40px 0 40px 0;
}

/*Formatação dos textos*/
.lobos figure > div div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lobos figure div > div p {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 10px;
}

.lobos figure p:nth-of-type(2) {
    padding-bottom: 20px;
    font-weight: 200;
}

.lobos p {
    padding-left: 30px;
    font-weight: 600;
}

.lobos div:nth-of-type(2n) figure p {
    text-align: right;
    padding-right: 30px;
    padding-left: 0;
}

/*Formatação dos botões da pagina*/
.lobos input {
    height: 30px;
    padding: 0 15px 0 15px;
    background-color: #DEB959;
    color: var(--cor-dos-textos);
    border: none;
    z-index: 1;
}

.containerGeral form input:nth-of-type(2):hover,
.lobos input:hover {
    background-color: var(--cor-dos-textos);
    color: #DEB959;
    border: 1px solid #DEB959;
    cursor: pointer;
}

.containerGeral form input:nth-of-type(2):active ,
.lobos input:active {
    transform: scale(.999);
    transition: .0001s;
}




 /***
 *    -----------    --------   ----------      ------    -----------  ------------ 
 *    ***********   **********  ************   ********   ************ ************ 
 *    ----    ---  ----    ---- --        --  ----------  ---      --- ----         
 *    *********    ***      *** **        ** ****    **** ************ ************ 
 *    ---------    ---      --- --        -- ------------ -----------  ------------ 
 *    ****  ****   ****    **** **        ** ************ ****         ****         
 *    ----   ----   ----------  ------------ ----    ---- ----         ------------ 
 *    ****    ****   ********   **********   ****    **** ****         ************ 
 *                                                                                  
 */

 /*FORMATAÇÃO DO RODAPE*/
/*Design do rodape*/
footer {
    width: 100%;
    height: fit-content;
    background-color: var(--cor-dos-links);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0 50px 0;
}


/*Formatação do mapa*/
iframe {
    width: 100%;
}

.mapa {
    width: 10%;
    height: 20%;
}

/*Formatação da lista do rodape*/
.listaRodape {
    width: fit-content;
    max-width: 500px;
    max-height: 200px;
}


/*Formatação dos itens da lista do rodape*/
.listaRodape li{
    font-size: 1vw;
    color: var(--cor-dos-textos);
    text-indent: 1.5rem;
}

/*Mudando os marcadores da lista do rodape*/
.listaRodape li:first-child {
    list-style-image: url(imagens/mapMarker.png);
}
.listaRodape li:nth-of-type(2){
    list-style-image: url(imagens/phone.png);
}
.listaRodape li:nth-of-type(3){
    list-style-image: url(imagens/letter.png);
}

/*Formatação do QUEM SOMOS do rodape*/
.listaRodape a {
    font-weight: 600;
    padding-right: .4rem;
    padding-left: .4rem;
    padding-bottom: .4rem;
    background-color: #DEB959;
    list-style-type: none;
}

.listaRodape a:hover {
    background-color: var(--cor-dos-links);
    color: #DEB959;
    border: 1px solid #DEB959;
}

/*Formatação da patinha do rodape*/
.patinha {
    width: 10%;
}

.patinha p {
    color: var(--cor-dos-textos);
    font-size: 1vw;
}

/*Posicionamento dos elementos no rodape*/
footer div:nth-child(3) {
    justify-self: end;
}
