:root {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 16px;
    --azul-clarinho: #85CDF5; 
    --cor-dos-links: #333333;
    --cor-dos-textos: #FFFFFF;
}    



/*tirando formatação padrão dos links do site*/
a {
    text-decoration: none;
    color: var(--cor-dos-links);
}
   
  img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }


/***
 *    ----    ----   --------     ********   ------------ 
 *    ****    ****  **********   ----------  ************ 
 *    ----    ---- ----    ---- ************ ----         
 *    ************ ***      *** ---  --  --- ************ 
 *    ------------ ---      --- ***  **  *** ------------ 
 *    ****    **** ****    **** ---  --  --- ****         
 *    ----    ----  ----------  ***  **  *** ------------ 
 *    ****    ****   ********   ---      --- ************ 
 *                                                        
 */

 /*FORMATAÇÃO DO HEADER*/
header{
    background-color: var(--azul-clarinho);
    height: fit-content;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
 }

 /*Formatação da navegação do header*/
 .navHeader{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*Formatação dos links do header*/
.large .navHeader a{
    font-size: 1.2rem;
    font-weight: bold;
}

.navHeader a:last-child::after {
    display: block;
    content: "";
    height: 2px;
    width: 0px;
    background-color: var(--cor-dos-links);
    float: right;
}

.navHeader a:last-child:hover::after {
    width: 100%;
    transition: width 1s ease;
}

.navHeader a:first-child::after {
    display: block;
    content: "";
    height: 2px;
    width: 0px;
    background-color: var(--cor-dos-links);
    float: left;
}

.navHeader a:first-child:hover::after {
    width: 100%;
    transition: width 1s ease;
}

/*Formatação do header em sua forma pequena de scroll*/
.small .navHeader a {
    font-size: 1rem;
    font-weight: 500;
}

.small .navHeader img {
    width: 50px;
}

/***
 *       ------    ----------     --------   ------------ ------------ 
 *      ********   ************  **********  ************ ************ 
 *     ----------  --        -- ----    ---- ------------ ----         
 *    ****    **** **        ** ***      ***     ****     ************ 
 *    ------------ --        -- ---      ---     ----     ------------ 
 *    ************ **        ** ****    ****     ****     ****         
 *    ----    ---- ------------  ----------      ----     ------------ 
 *    ****    **** **********     ********       ****     ************ 
 *                                                                     
 */

/*FORMATAÇÃO DA PRIMEIRA SECTION*/
/*Formatação da imagem do lobo*/
.secAdoteUmLobinho {
    display: flex;
    align-items: center;
    background-image: url(imagens/image.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: fit-content;
    min-height: 700px;
    padding-bottom: 150px;
    padding-top: 150px;
}

/*Formatação do texto da imagem do lobo*/
.textoAdoteUmLobinho {
    margin: auto;
    display: block;
    align-items: center;
}

.textoAdoteUmLobinho div a {
    font-size: 5rem;
    font-weight: 800;
    color: var(--cor-dos-textos);
    width: fit-content;
}

.textoAdoteUmLobinho p {
    color: var(--cor-dos-textos);
    font-weight: 600;
    width: 50%;
    font-size: 2rem;
    text-indent: 1.5rem;
    text-align: center;
    margin: auto;
}

/*Centralizando o link*/
.textoAdoteUmLobinho div {
    width: fit-content;
    margin: auto;
}

/*Formatação da linha*/
.secAdoteUmLobinho .traço {
    width: 100px;
    height: 5px;
    background-color: #FFFFFF;
}

.secAdoteUmLobinho .traço:hover {
    transform: scaleX(7);
    transition: 1s;
}

/***
 *    ------------   --------   -----------  -----------  ------------ 
 *    ************  **********  ***********  ***********  ************ 
 *    ----         ----    ---- ----       - ----    ---  ----         
 *    ************ ***      *** ***********  *********    ************ 
 *    ------------ ---      --- -----------  ---------    ------------ 
 *           ***** ****    **** ****       * ****  ****   ****         
 *    ------------  ----------  -----------  ----   ----  ------------ 
 *    ************   ********   ***********  ****    **** ************ 
 *                                                                     
 */
/*FORMATAÇÃO DA SEÇÃO SOBRE*/
/*O básico da seção*/
.secSobre {
    height: fit-content;
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #2C5680;
    display: flex;
    align-items: center;
}

.secSobre p:first-child {
    display: inline;
    color: #DEB959;
    font-size: 4rem;
    font-weight: 700;
    align-content: center;
}

.secSobre p {
    color: var(--cor-dos-textos);
    font-size: 2rem;
    width: 70%;
    margin: auto;
    text-align: center;
}

/*Centralizando*/
.secSobre div {
    width: fit-content;
    margin: auto;
}


/***
 *    ---    ---     ------    ----           --------   -----------  ------------ ------------ 
 *    ***    ***    ********   ****          **********  ***********  ************ ************ 
 *    ---    ---   ----------  ----         ----    ---- ----    ---  ----         ----         
 *    ***    ***  ****    **** ****         ***      *** *********    ************ ************ 
 *    ---    ---  ------------ ----         ---      --- ---------    ------------ ------------ 
 *     ********   ************ ************ ****    **** ****  ****   ****                ***** 
 *      ------    ----    ---- ------------  ----------  ----   ----  ------------ ------------ 
 *       ****     ****    **** ************   ********   ****    **** ************ ************ 
 *                                                                                              
 */

/*SEÇÃO VALORES*/
/*O básica da seção*/
.secValores {
    width: 100%;
    height: fit-content;
    background-color: var(--cor-dos-links);
    display: block;
    align-content: center;
    padding-bottom: 100px;
}

/*Formatação do 'titulo'*/
.secValores > div:first-child p {
    display: inline;
    color: #DEB959;
    font-size: 4rem;
    font-weight: 700;
    align-content: center;
}

/*Centralizando*/
.secValores > div:first-child {
    padding-top: 100px;
    padding-bottom: 60px;
    width: fit-content;
    margin: auto;
}

.divAdesivos {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.divAdesivos div {
    width: 15%;
    min-width: 200px;
    margin: auto;
}

/*Formatação do texto dos adesivos*/
figure p {
    color: var(--cor-dos-textos);
    font-size: 1.2rem;
    margin: auto;
    text-align: center
}

.divAdesivos figure h3 {
    color: var(--cor-dos-textos);
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.circulo {
    background-color: var(--cor-dos-textos);
    width: 100%;
    max-width: 200px;
    height: 200px;
    border-radius: 50%;
}


/***
 *    ------------ ---      --- ------------   ********   -----------  ----           --------   ------------ 
 *    ************  ***    ***  ************  ----------  ************ ****          **********  ************ 
 *    ----           ---  ---   ----         ************ ---      --- ----         ----    ---- ----         
 *    ************    ******    ************ ---  --  --- ************ ****         ***      *** ************ 
 *    ------------    ------    ------------ ***  **  *** -----------  ----         ---      --- ------------ 
 *    ****           ***  ***   ****         ---  --  --- ****         ************ ****    ****        ***** 
 *    ------------  ---    ---  ------------ ***  **  *** ----         ------------  ----------  ------------ 
 *    ************ ***      *** ************ ---      --- ****         ************   ********   ************ 
 *                                                                                                            
 */

/*Definições básicas da seção*/
.secExemplo {
    width: 80%;
    max-width: 1500px;
    margin: auto;
    height: fit-content;
}

/*Formatação das div que contem os lobos exemplos*/
.secExemplo > div:nth-child(2) {
    display: block;
    width: fit-content;
    margin: auto;
}

.secExemplo figure {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding-bottom: 200px;
}

.exDois {
    justify-self: left;
}

/*Formatação do posicionamento dos textos dos exemplos*/
.secExemplo p {
    color: var(--cor-dos-links);
    width: fit-content;
    margin: auto;
    width: 100%;
    max-width: 350px;
}


.exUm p{
    margin-left: 0px;

}
.exUm p:first-of-type {
    margin-bottom: 20px;
}
.exUm p:nth-of-type(2) {
    margin-bottom: 10px;
}
.exUm p:nth-of-type(3) {
    text-align: left;
}

.exDois p{
    margin-right: 0px;
    padding-right: 15px;
}
.exDois p:first-of-type {
    margin-bottom: 20px;
}
.exDois p:nth-of-type(2) {
    margin-bottom: 10px;
}
.exDois p:nth-of-type(3) {
    text-align: right;
}


.secExemplo figure div {
    display: block;
    padding-left: 20px;
}

.secExemplo figure p:first-of-type {
    font-size: 2rem;
    font-weight: 700;
}


.secExemplo img {
    width: 100%;
}


/*Formatação do 'titulo' da seção*/
.secExemplo > div:first-child p {
    display: block;
    color: #DEB959;
    font-size: 4rem;
    font-weight: 700;
    align-content: center;
    width: fit-content;
    max-width: none;
    padding-top: 80px;
    padding-bottom: 150px;
}


/***
 *    -----------    --------   ----------      ------    -----------  ------------ 
 *    ***********   **********  ************   ********   ************ ************ 
 *    ----    ---  ----    ---- --        --  ----------  ---      --- ----         
 *    *********    ***      *** **        ** ****    **** ************ ************ 
 *    ---------    ---      --- --        -- ------------ -----------  ------------ 
 *    ****  ****   ****    **** **        ** ************ ****         ****         
 *    ----   ----   ----------  ------------ ----    ---- ----         ------------ 
 *    ****    ****   ********   **********   ****    **** ****         ************ 
 *                                                                                  
 */
/*FORMATAÇÃO DO RODAPE*/
/*Design do rodape*/
footer {
    width: 100%;
    height: fit-content;
    background-color: var(--cor-dos-links);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0 50px 0;
}


/*Formatação do mapa*/
iframe {
    width: 100%;
}

.mapa {
    width: 10%;
    height: 20%;
}

/*Formatação da lista do rodape*/
.listaRodape {
    width: fit-content;
    max-width: 500px;
    max-height: 200px;
}


/*Formatação dos itens da lista do rodape*/
.listaRodape li{
    font-size: 1vw;
    color: var(--cor-dos-textos);
    text-indent: 1.5rem;
}

/*Mudando os marcadores da lista do rodape*/
.listaRodape li:first-child {
    list-style-image: url(imagens/mapMarker.png);
}
.listaRodape li:nth-of-type(2){
    list-style-image: url(imagens/phone.png);
}
.listaRodape li:nth-of-type(3){
    list-style-image: url(imagens/letter.png);
}

/*Formatação do QUEM SOMOS do rodape*/
.listaRodape a {
    font-weight: 600;
    padding-right: .4rem;
    padding-left: .4rem;
    padding-bottom: .4rem;
    background-color: #DEB959;
    list-style-type: none;
}

.listaRodape a:hover {
    background-color: var(--cor-dos-links);
    color: #DEB959;
    border: 1px solid #DEB959;
}

/*Formatação da patinha do rodape*/
.patinha {
    width: 10%;
}

.patinha p {
    color: var(--cor-dos-textos);
    font-size: 1vw;

}

/*Posicionamento dos elementos no rodape*/
footer div:nth-child(3) {
    justify-self: end;
}


/***
 *      --------   ----    ---- ------------   ********        ------------   --------     ********     --------   ------------ 
 *     **********  ****    **** ************  ----------       ************  **********   ----------   **********  ************ 
 *    ----    ---- ----    ---- ----         ************      ----         ----    ---- ************ ----    ---- ----         
 *    ***      *** ****    **** ************ ---  --  ---      ************ ***      *** ---  --  --- ***      *** ************ 
 *    ---   --  -- ----    ---- ------------ ***  **  ***      ------------ ---      --- ***  **  *** ---      --- ------------ 
 *    ****   ** ** ************ ****         ---  --  ---             ***** ****    **** ---  --  --- ****    ****        ***** 
 *     ------ -- - ------------ ------------ ***  **  ***      ------------  ----------  ***  **  ***  ----------  ------------ 
 *      ******* ** ************ ************ ---      ---      ************   ********   ---      ---   ********   ************ 
 *                                                                                                                              
 */

 .divQuemSomos {
     min-height: 500px;
     padding-top: 100px;
 }

 .divQuemSomos h1 {
     font-size: 3rem;
     font-weight: 700;
     width: fit-content;
     margin: auto;
     margin-top: 100px;
     margin-bottom: 50px;
 }

 .divQuemSomos p{
     width: 70%;
     max-width: 800px;
     margin: auto;
     font-size: 1.5rem;
     font-weight: 500;
     text-align: center;
 }


 /***
 *       ------    ----------   --------  ------------ --------    --------   ----    ----    ------    -----------  
 *      ********   ************ ********  ************ ********   **********  *****   ****   ********   ***********  
 *     ----------  --        --   ----    ---            ----    ----    ---- ------  ----  ----------  ----    ---  
 *    ****    **** **        **   ****    ***            ****    ***      *** ************ ****    **** *********    
 *    ------------ --        --   ----    ---            ----    ---      --- ------------ ------------ ---------    
 *    ************ **        **   ****    ***            ****    ****    **** ****  ****** ************ ****  ****   
 *    ----    ---- ------------ --------  ------------ --------   ----------  ----   ----- ----    ---- ----   ----  
 *    ****    **** **********   ********  ************ ********    ********   ****    **** ****    **** ****    **** 
 *                                                                                                                   
 */

 .secAdicionar {
     margin-top: 180px;
 }

.secAdicionar > div {
    height: 600px;
    width: 600px;
    margin: 50px auto 80px auto;
    border: 2px solid;
    border-color: var(--cor-dos-links);

}

.secAdicionar p {
    font-size: 2rem;
    font-weight: 500;
    width: fit-content;
    margin: 50px auto 50px auto;
}

.secAdicionar form {
   width: 80%;
   margin: auto;
}

.secAdicionar form input {
    display: block;
    background-color: #E6E6E6;
    border: 1px solid;
    margin-top: 5px;
    width: 100%;
    margin-bottom: 30px;
}

.secAdicionar form div{
    display: flex;
    justify-content: space-between;
}

.secAdicionar form div div{
    display: block;
}

.secAdicionar form div > div:first-child input {
    width: 350px;
}

.secAdicionar form div > div:nth-child(2) input{
    width: 100px;
}

.secAdicionar form > input:nth-child(5) {
    height: 180px;
}

.secAdicionar form > button {
    width: fit-content;
    padding: 10px 30px 10px 30px;
    background-color: #2C5680;
    color: var(--cor-dos-textos);
    border: none;
}

.secAdicionar form > button:hover {
    cursor: pointer;
    color: #2C5680;
    background-color: var(--cor-dos-textos);
    border: 1px solid #2C5680;
}


/***
 *       ------    ----------     --------   ------------    ------    -----------  
 *      ********   ************  **********  ************   ********   ***********  
 *     ----------  --        -- ----    ---- ------------  ----------  ----    ---  
 *    ****    **** **        ** ***      ***     ****     ****    **** *********    
 *    ------------ --        -- ---      ---     ----     ------------ ---------    
 *    ************ **        ** ****    ****     ****     ************ ****  ****   
 *    ----    ---- ------------  ----------      ----     ----    ---- ----   ----  
 *    ****    **** **********     ********       ****     ****    **** ****    **** 
 *                                                                                  
 */

.secAdotar {
    margin-top: 150px;
 }

.secAdotar > div {
    height: 350px;
    width: 90%;
    max-width: 1000px;
    margin: 50px auto 80px auto;
    border-color: var(--cor-dos-links);

}

.secAdotar p {
    font-size: 2rem;
    font-weight: 500;
    width: fit-content;
    margin: 40px auto auto 20px;
}

.secAdotar p:nth-of-type(2) {
    font-size: .8rem;
    font-weight: 400;
    margin-top: 10px;
}

.secAdotar form {
   width: 80%;
   margin: 60px auto auto auto;
}

.secAdotar form input {
    border: none;
    border-bottom: 1px solid ;
    display: block;
    margin-top: 5px;
    width: 100%;
    margin-bottom: 30px;
}

.secAdotar form div{
    display: flex;
    justify-content: space-between;
}

.secAdotar form div div{
    display: block;
}

.secAdotar form div > div:first-child input {
    width: 520px;
}

.secAdotar form div > div:nth-child(2) input{
    width: 100px;
}

.secAdotar form > input:nth-child(5) {
    height: 180px;
}

.secAdotar .botaoAdotar {
    width: fit-content;
    padding: 10px 30px 10px 30px;
    background-color: #2C5680;
    color: var(--cor-dos-textos);
    margin: auto;
    font-weight: 700;
}

.secAdotar .botaoAdotar:hover {
    cursor: pointer;
    color: #2C5680;
    background-color: var(--cor-dos-textos);
    border: 1px solid #2C5680;
}

/*Formatação da div da foto do lobo*/
.perfilLobo {
    display: flex;
    width: 80%;
    height: 170px;
    margin: auto;
}

.perfilLobo img {
    border: .1px;
    width: 180px;
    border-radius: 50%;
}

/***
 *    ------------ ----    ----   --------   ---      --- 
 *    ************ ****    ****  **********  ***  **  *** 
 *    ----         ----    ---- ----    ---- ---  --  --- 
 *    ************ ************ ***      *** ***  **  *** 
 *    ------------ ------------ ---      --- ---  --  --- 
 *           ***** ****    **** ****    **** ************ 
 *    ------------ ----    ----  ----------   ----------  
 *    ************ ****    ****   ********     ********   
 *                                                        
 */

/*Formatações gerais da seção*/
.secShowLobinho {
    height: fit-content;
    width: 80%;
    max-width: 1000px;
    margin: auto;
    display: block;
    margin: 80px auto 100px auto ;
    margin-top: 150px;
}

/*Formatação do 'titulo' da seção*/
.secShowLobinho > div:first-of-type p {
    font-size: 2rem;
    font-weight: 1000;
    width: fit-content;
    margin: auto auto 50px auto;
}

/*Formatação da foto de pergil e butões*/
.secShowLobinho > div:nth-child(2) {
    display: flex;
}

.secShowLobinho .divImg {
    width: 430px;
    margin-bottom: 30px;
}

.divButoes {
    display: flex;
    justify-content: space-between;
}

.secShowLobinho input {
    padding: 12px 20px 12px 20px;
    border: none;
    font-weight: 600;
    width: 180px;
}

.secShowLobinho input:first-of-type {
    color: var(--cor-dos-textos);
    background-color: #7AAC3A;
}

.secShowLobinho input:first-of-type:hover {
    color: #7AAC3A;
    background-color: var(--cor-dos-textos);
    border: 1px solid #7AAC3A;
    cursor: pointer;
}

.secShowLobinho input:nth-of-type(2) {
    color: var(--cor-dos-textos);
    background-color: #DE5959;
}

.secShowLobinho input:nth-of-type(2):hover {
    color: #DE5959;
    background-color: var(--cor-dos-textos);
    border: 1px solid #DE5959;
    cursor: pointer;
}

/*Formatação do texto sobre o lobo*/
.secShowLobinho p {
    text-align: left;
    margin-left: 30px;
    width: 100%;
    max-width: 500px;
}

.secShowLobinho p:nth-of-type(2) {
    margin-top: 20px;
}

